body {
  font-family: Arial,Helvetica;
  margin: 0 0 42px;
  -webkit-font-smoothing: antialiased; }
  body a {
    -webkit-transition: all 0.3s 0 linear;
    -moz-transition: all 0.3s 0 linear;
    -o-transition: all 0.3s 0 linear;
    -ms-transition: all 0.3s 0 linear;
    transition: all 0.3s 0 linear; }
  body .clear {
    clear: both; }
  body .landingCont {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #fff; }
    body .landingCont .landing {
      width: 60%;
      margin: 0 20%; }
      body .landingCont .landing .background {
        background: url(/img/bg_landing.jpg) no-repeat center 0 #e6ecee;
        width: 100%;
        margin: 0 auto;
        background-size: cover;
        position: relative;
        height: 0;
        padding-top: 82%;
        -webkit-box-shadow: 0px 0px 12px 0px #b5b5b5;
        box-shadow: 0px 0px 12px 0px #b5b5b5; }
        body .landingCont .landing .background .loading {
          position: absolute;
          top: 48%;
          left: 50%;
          margin-left: -11%;
          width: 25%; }
        body .landingCont .landing .background .logo {
          display: block;
          margin: 0 auto;
          width: 70%;
          top: 4%;
          position: absolute;
          margin-left: 15%; }
  body .nav {
    width: 70%;
    margin: 0 auto 60px;
    height: 157px;
    opacity: 0;
    filter: alpha(opacity=0); }
    body .nav .header {
      background: url(/img/bg_header.jpg) no-repeat center 0 #c7d3d5;
      width: 100%;
      border: 5px solid #fff;
      border-top: 0px solid red;
      height: 157px;
      -webkit-box-shadow: 0px 0px 12px 0px #b5b5b5;
      box-shadow: 0px 0px 12px 0px #b5b5b5; }
      body .nav .header .logo {
        background: url(/img/logo_main.gif) no-repeat center bottom;
        display: block;
        margin: 0 auto;
        padding: 0px 0;
        width: 396px;
        height: 107px;
        cursor: pointer;
        position: relative;
        top: 25px; }
        body .nav .header .logo:hover {
          background-position: center top; }
    body .nav .menuCont {
      position: absolute;
      right: 50%;
      margin-right: -30%;
      top: 162px;
      z-index: 100; }
      body .nav .menuCont.menuFixed {
        position: fixed;
        top: 0; }
      body .nav .menuCont .menu {
        background: url(/img/arrow_nav.png) no-repeat center center black;
        height: 35px;
        width: 50px;
        opacity: 0.7;
        filter: alpha(opacity=0.7);
        cursor: pointer;
        -webkit-transition: all 0.3s 0 linear;
        -moz-transition: all 0.3s 0 linear;
        -o-transition: all 0.3s 0 linear;
        -ms-transition: all 0.3s 0 linear;
        transition: all 0.3s 0 linear; }
        body .nav .menuCont .menu .arrow-right {
          width: 0px;
          height: 0px;
          border-style: solid;
          border-width: 0 25px 10px 0;
          border-color: transparent #000000 transparent transparent;
          position: absolute;
          bottom: -10px;
          right: 0; }
        body .nav .menuCont .menu .arrow-left {
          width: 0px;
          height: 0px;
          border-style: solid;
          border-width: 10px 25px 0 0;
          border-color: #000000 transparent transparent transparent;
          position: absolute;
          bottom: -10px;
          left: 0; }
        body .nav .menuCont .menu .ofh {
          overflow: hidden;
          height: 50px; }
        body .nav .menuCont .menu ul {
          opacity: 0;
          filter: alpha(opacity=0);
          text-align: center;
          width: 110px;
          margin: 15px 0;
          padding: 0;
          -webkit-transition: all 0.1s 0 linear;
          -moz-transition: all 0.1s 0 linear;
          -o-transition: all 0.1s 0 linear;
          -ms-transition: all 0.1s 0 linear;
          transition: all 0.1s 0 linear; }
          body .nav .menuCont .menu ul li {
            color: #fff;
            display: block;
            list-style-type: none;
            margin: 0;
            text-shadow: 1px 1px 3px #000;
            font: bold 12px Arial; }
            body .nav .menuCont .menu ul li a {
              color: #fff;
              text-decoration: none;
              padding: 5px 0;
              display: block; }
              body .nav .menuCont .menu ul li a.active {
                color: #023e47; }
              body .nav .menuCont .menu ul li a:hover {
                background-color: #023e47;
                color: #fff; }
        body .nav .menuCont .menu:hover {
          opacity: 0.8;
          filter: alpha(opacity=0.8);
          height: 150px;
          background-image: none;
          bottom: -155px;
          width: 110px; }
          body .nav .menuCont .menu:hover .arrow-right {
            border-width: 0 55px 20px 0;
            bottom: -20px; }
          body .nav .menuCont .menu:hover .arrow-left {
            border-width: 20px 55px 0 0;
            bottom: -20px; }
          body .nav .menuCont .menu:hover .ofh {
            height: auto; }
          body .nav .menuCont .menu:hover ul {
            opacity: 1;
            filter: alpha(opacity=1);
            -webkit-transition: all 0.3s 0.2s linear;
            -moz-transition: all 0.3s 0.2s linear;
            -o-transition: all 0.3s 0.2s linear;
            -ms-transition: all 0.3s 0.2s linear;
            transition: all 0.3s 0.2s linear; }
  body .block {
    width: 100%;
    background: url(/img/bg_main.jpg) repeat-y center 0;
    margin: 0px 0 0 0;
    opacity: 0;
    padding-bottom: 267px; }
    body .block .content {
      width: 927px;
      margin: 0 auto; }
      body .block .content .item {
        width: 285px;
        height: 245px;
        float: left;
        margin: 21px 11px 0 11px;
        display: block; }
        body .block .content .item img {
          display: block;
          margin: 0 auto; }
        body .block .content .item.jar {
          background: url(/img/landing/jar.png) no-repeat center center; }
        body .block .content .item.beans {
          background: url(/img/landing/beans.png) no-repeat center center; }
        body .block .content .item.print {
          background: url(/img/landing/print.gif) no-repeat center -300px;
          -webkit-transition: all 0 0 linear;
          -moz-transition: all 0 0 linear;
          -o-transition: all 0 0 linear;
          -ms-transition: all 0 0 linear;
          transition: all 0 0 linear; }
          body .block .content .item.print:hover {
            background-position: center -6px; }
        body .block .content .item.digital {
          background: url(/img/landing/digital.gif) no-repeat center -361px;
          -webkit-transition: all 0 0 linear;
          -moz-transition: all 0 0 linear;
          -o-transition: all 0 0 linear;
          -ms-transition: all 0 0 linear;
          transition: all 0 0 linear; }
          body .block .content .item.digital:hover {
            background-position: center 17px; }
        body .block .content .item.instore {
          background: url(/img/landing/instore.gif) no-repeat center -266px;
          -webkit-transition: all 0 0 linear;
          -moz-transition: all 0 0 linear;
          -o-transition: all 0 0 linear;
          -ms-transition: all 0 0 linear;
          transition: all 0 0 linear; }
          body .block .content .item.instore:hover {
            background-position: center 4px; }
        body .block .content .item.sidework {
          background: url(/img/landing/sidework.gif) no-repeat center -371px;
          -webkit-transition: all 0 0 linear;
          -moz-transition: all 0 0 linear;
          -o-transition: all 0 0 linear;
          -ms-transition: all 0 0 linear;
          transition: all 0 0 linear; }
          body .block .content .item.sidework:hover {
            background-position: center top; }
        body .block .content .item[rel] {
          cursor: pointer;
          display: table; }
          body .block .content .item[rel][rel="dove"] {
            background: url(/img/landing/dove.png) no-repeat center center white; }
          body .block .content .item[rel][rel="aspca"] {
            background: url(/img/landing/aspca.jpg) no-repeat center center white; }
          body .block .content .item[rel][rel="reclaim"] {
            background: url(/img/landing/reclaim.jpg) no-repeat center center white; }
          body .block .content .item[rel][rel="soc"] {
            background: url(/img/landing/soc.jpg) no-repeat center bottom white; }
          body .block .content .item[rel][rel="grimeboss"] {
            background: url(/img/landing/grimeboss.jpg) no-repeat center bottom white; }
          body .block .content .item[rel][rel="catapult"] {
            background: url(/img/landing/catapult.jpg) no-repeat center center white; }
          body .block .content .item[rel][rel="wrigleys"] {
            background: url(/img/landing/wrigleys.jpg) no-repeat center center white; }
          body .block .content .item[rel][rel="wrigleys2"] {
            background: url(/img/landing/wrigleys2.png) no-repeat center center #efefef; }
          body .block .content .item[rel][rel="snuggle"] {
            background: url(/img/landing/snuggle.png) no-repeat center center #efefef; }
          body .block .content .item[rel][rel="aspca"] {
            background: url(/img/landing/aspca.png) no-repeat center center #efefef; }
          body .block .content .item[rel][rel="bongrain"] {
            background: url(/img/landing/bongrain.png) no-repeat center center #efefef; }
          body .block .content .item[rel][rel="meijer"] {
            background: url(/img/landing/meijer.jpg) no-repeat center center #efefef; }
          body .block .content .item[rel][rel="crystallight"] {
            background: url(/img/landing/crystallight.jpg) no-repeat center center #efefef; }
          body .block .content .item[rel][rel="soc2"] {
            background: url(/img/landing/soc2.jpg) no-repeat center center #efefef; }
          body .block .content .item[rel][rel="jwalker"] {
            background: url(/img/landing/jwalker.jpg) no-repeat center center #efefef; }
          body .block .content .item[rel][rel="specialk"] {
            background: url(/img/landing/specialk.jpg) no-repeat center center #efefef; }
          body .block .content .item[rel][rel="wrigleys3"] {
            background: url(/img/landing/wrigleys3.png) no-repeat center center white; }
          body .block .content .item[rel][rel="alay"] {
            background: url(/img/landing/alay.jpg) no-repeat center center #efefef; }
          body .block .content .item[rel][rel="bulleit"] {
            background: url(/img/landing/bulleit.jpg) no-repeat center center #efefef; }
          body .block .content .item[rel][rel="disney"] {
            background: url(/img/landing/disney.jpg) no-repeat center center #efefef; }
          body .block .content .item[rel][rel="bobbyqs"] {
            background: url(/img/landing/bobbyqs.jpg) no-repeat center center #efefef; }
          body .block .content .item[rel][rel="quote"] {
            background: url(/img/landing/quote.jpg) no-repeat center center #efefef; }
          body .block .content .item[rel][rel="kaboom"] {
            background: url(/img/landing/kaboom.jpg) no-repeat center center #efefef; }
          body .block .content .item[rel] div {
            display: table-cell;
            vertical-align: middle;
            -webkit-transition: all 0.3s 0 linear;
            -moz-transition: all 0.3s 0 linear;
            -o-transition: all 0.3s 0 linear;
            -ms-transition: all 0.3s 0 linear;
            transition: all 0.3s 0 linear;
            opacity: 0; }
            body .block .content .item[rel] div p {
              text-align: center;
              color: #fff;
              text-transform: uppercase;
              font: bold 14px Helvetica,Arial;
              margin: 0;
              line-height: 18px !important; }
              body .block .content .item[rel] div p span {
                margin: 8px auto;
                width: 50px;
                height: 1px;
                background-color: #fff;
                display: block; }
          body .block .content .item[rel]:hover div {
            background-color: #61aab5;
            background-position: center 400px;
            opacity: 0.9; }
  body .top {
    position: fixed;
    left: 50%;
    margin-left: -550px;
    top: 80%;
    opacity: 0;
    -webkit-transition: all 0.3s 0 linear;
    -moz-transition: all 0.3s 0 linear;
    -o-transition: all 0.3s 0 linear;
    -ms-transition: all 0.3s 0 linear;
    transition: all 0.3s 0 linear; }
    body .top.show {
      opacity: 0.7; }
      body .top.show:hover {
        opacity: 1; }
  body .overlayContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: url(/img/overlay_bg.png) repeat 0 0;
    overflow: hidden;
    z-index: 101; }
    body .overlayContainer .itemOverlay {
      width: 930px;
      height: auto;
      -webkit-box-shadow: 0px 0px 12px 0px #b5b5b5;
      box-shadow: 0px 0px 12px 0px #b5b5b5;
      background-color: #fff;
      margin: 20px auto 0;
      position: relative;
      padding: 10px; }
      body .overlayContainer .itemOverlay .close {
        position: absolute;
        right: -10px;
        top: -10px;
        cursor: pointer;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: #c8c9cb;
        color: #fff;
        text-align: center;
        line-height: 30px !important;
        font-size: 25px;
        margin: 0;
        -webkit-box-shadow: 0px 0px 12px 0px #b5b5b5;
        box-shadow: 0px 0px 12px 0px #b5b5b5; }
        body .overlayContainer .itemOverlay .close:hover {
          background-color: #023e47; }
      body .overlayContainer .itemOverlay .img {
        height: 616px; }
        body .overlayContainer .itemOverlay .img img {
          display: block;
          margin: 0 auto 0px;
          max-height: 616px;
          max-width: 900px;
          width: 100%; }
      body .overlayContainer .itemOverlay .content {
        width: 100%;
        margin-top: 5px;
        padding: 15px 0;
        background-color: #333;
        color: #fff;
        position: relative; }
        body .overlayContainer .itemOverlay .content h1, body .overlayContainer .itemOverlay .content p {
          width: 85%;
          margin: 0 15px; }
        body .overlayContainer .itemOverlay .content h1 {
          font-weight: bold;
          font-size: 16px;
          margin-bottom: 8px; }
        body .overlayContainer .itemOverlay .content p {
          font-size: 14px; }
        body .overlayContainer .itemOverlay .content .prev, body .overlayContainer .itemOverlay .content .next {
          background: url(/img/lr_arrows.png) no-repeat 0 0;
          width: 26px;
          height: 33px;
          cursor: pointer;
          position: absolute;
          top: 15px;
          -webkit-transition: all 0.3s 0 linear;
          -moz-transition: all 0.3s 0 linear;
          -o-transition: all 0.3s 0 linear;
          -ms-transition: all 0.3s 0 linear;
          transition: all 0.3s 0 linear; }
          body .overlayContainer .itemOverlay .content .prev:hover, body .overlayContainer .itemOverlay .content .next:hover {
            opacity: 0.6;
            filter: alpha(opacity=0.6); }
        body .overlayContainer .itemOverlay .content .prev {
          right: 55px;
          background-position: 0 -33px; }
        body .overlayContainer .itemOverlay .content .next {
          right: 15px; }
  body .footer {
    width: 100%;
    background-color: #aaccd1;
    border-top: 4px solid #70aab2;
    height: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0); }
    body .footer ul {
      text-align: center;
      padding: 0;
      margin: 0; }
      body .footer ul li {
        display: inline;
        color: #023e47;
        font-size: 12px;
        line-height: 30px !important;
        padding: 0;
        margin: 0 10px; }
        body .footer ul li a {
          color: #023e47;
          text-decoration: none; }
          body .footer ul li a:hover {
            color: #231f20; }
  @media screen and (max-width: 1023px) {
    body .landing {
      width: 100%;
      margin: 0; }
    body .nav {
      width: 100%; }
      body .nav .header {
        border-top: 0px solid red; }
        body .nav .header .logo {
          background: url(/img/logo_main.png) no-repeat center top;
          background-size: contain;
          width: 70%; }
      body .nav .menuCont {
        margin-right: -40%; } }
  @media screen and (max-width: 927px) {
    body .block {
      background-image: none;
      margin: 0px 0 0 0; }
      body .block .content {
        width: 100%;
        margin-top: 1%; }
        body .block .content .item {
          width: 31%;
          float: left;
          margin: 1%; }
    body .overlayContainer .itemOverlay {
      width: 100%;
      padding: 0;
      margin-top: 0; }
      body .overlayContainer .itemOverlay .close {
        top: 5px;
        right: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px !important;
        font-size: 30px; }
      body .overlayContainer .itemOverlay .img {
        min-height: 0;
        height: auto; } }
  @media screen and (max-width: 720px) {
    body {
      margin-bottom: 0; }
      body .landing {
        width: 100%;
        margin: 0; }
      body .nav {
        height: auto; }
        body .nav .header {
          height: auto; }
          body .nav .header .logo {
            width: 40%;
            top: 0;
            background-position: 0 center;
            padding-bottom: 13%;
            height: 1px; }
            body .nav .header .logo:hover {
              background-position: 0 center; }
        body .nav .menuCont {
          position: static;
          margin-right: 0; }
          body .nav .menuCont.menuFixed {
            position: static; }
          body .nav .menuCont .menu {
            background-image: none;
            width: 100%;
            height: auto; }
            body .nav .menuCont .menu .arrow-left, body .nav .menuCont .menu .arrow-right {
              display: none; }
            body .nav .menuCont .menu .ofh {
              height: auto; }
            body .nav .menuCont .menu ul {
              opacity: 1;
              filter: alpha(opacity=1);
              width: 100%;
              margin: 0; }
            body .nav .menuCont .menu:hover {
              width: 100%;
              height: auto; }
      body .block .content .item {
        width: 48%;
        background-size: contain !important; }
      body .footer {
        position: static;
        height: auto; }
        body .footer ul li {
          display: block;
          margin: 0; }
          body .footer ul li a {
            display: block; }
            body .footer ul li a:hover {
              background-color: #023e47;
              color: #aaccd1; } }
