$tablet : 1023px;
$blocks : 927px;
$mobile : 720px;

$link : #023e47;
$hover : #231f20;

$test :0;

@mixin opacity($val:1) { opacity:$val; filter: alpha(opacity=$val); }
@mixin shadow { -webkit-box-shadow: 0px 0px 12px 0px #b5b5b5; box-shadow: 0px 0px 12px 0px #b5b5b5; }
@mixin linear-animation($duration:0.3s,$delay:0) {-webkit-transition: all $duration $delay linear; -moz-transition: all $duration $delay linear; -o-transition: all $duration $delay linear; -ms-transition: all $duration $delay linear; transition: all $duration $delay linear; }

body { font-family:Arial,Helvetica; margin: 0 0 42px; -webkit-font-smoothing: antialiased; 
	a { @include linear-animation; }
	.clear { clear: both; } 
	.landingCont { display:block; width: 100%; height: 100%; position: absolute; z-index:999; top: 0; left: 0; background-color: #fff;
		.landing { width:60%; margin:0 20%;
			.background { background:url(/img/bg_landing.jpg) no-repeat center 0 #e6ecee; width:100%; margin:0 auto; background-size:cover;  position: relative; height:0; padding-top:82%; @include shadow;
				.loading { position: absolute; top: 48%; left: 50%; margin-left: -11%; width: 25%; }
				.logo { display: block; margin:0 auto; width:70%; top:4%; position: absolute; margin-left: 15%; }
			}
		}
	}
	.nav { width:70%; margin:0 auto 60px; height: 157px; @include opacity($test);
		.header { background:url(/img/bg_header.jpg) no-repeat center 0 #c7d3d5; width:100%; border:5px solid #fff; border-top:0px solid red; height: 157px; @include shadow;
			.logo { background:url(/img/logo_main_sprite.png) no-repeat center bottom; display: block; margin:0 auto; padding:0px 0; width: 396px; height: 107px; cursor:pointer; position: relative; top: 25px;
				&:hover { background-position: center top; }
			}
		}
		.menuCont { position: absolute; right:50%; margin-right: -30%; top:162px; z-index: 100;
			&.menuFixed { position: fixed; top: 0; }
			.menu { background:url(/img/arrow_nav.png) no-repeat center center #000; height: 35px; width:50px;  @include opacity(0.7); cursor:pointer; @include linear-animation;
				.arrow-right { width: 0px; height: 0px; border-style: solid; border-width: 0 25px 10px 0; border-color: transparent #000000 transparent transparent; position: absolute; bottom:-10px; right:0; } 
				.arrow-left { width: 0px; height: 0px; border-style: solid; border-width: 10px 25px 0 0; border-color: #000000 transparent transparent transparent; position: absolute; bottom:-10px; left:0; }
				.ofh { overflow:hidden; height: 50px; }
				ul {   opacity:0; filter: alpha(opacity=0); text-align: center; width: 110px; margin:15px 0; padding: 0; @include linear-animation(0.1s,0);
					li { color:#fff; display: block; list-style-type:none; margin: 0; text-shadow: 1px 1px 3px #000; font:bold 12px Arial; 
						a { color:#fff; text-decoration: none;  padding: 5px 0; display: block;
							&.active { color:$link; }
							&:hover { background-color:#023e47; color:#fff; }
						}
					}
				}
				&:hover { @include opacity(0.8); height:150px; background-image:none; bottom:-155px; width: 110px; 
					.arrow-right { border-width: 0 55px 20px 0; bottom:-20px; } 
					.arrow-left { border-width: 20px 55px 0 0; bottom:-20px; }
					.ofh { height:auto; }
					ul {  opacity:1; filter: alpha(opacity=100); @include linear-animation(0.3s,0.2s); }
				}
			} 
		}
	} 
	.block { width: 100%; background:url(/img/bg_main.jpg) repeat-y center 0; margin:0px 0 0 0; opacity:$test; padding-bottom:267px;
		.content { width:$blocks; margin: 0 auto;
			.item { width: 285px; height: 245px; float: left; margin:21px 11px 0 11px; display: block;
				img { display: block; margin: 0 auto; }

				//nav items 
				&.jar { background:url(/img/landing/jar.png) no-repeat center center; }
				&.beans { background:url(/img/landing/beans.png) no-repeat center center; }
				&.print { background:url(/img/landing/print.gif) no-repeat center -300px; @include linear-animation(0,0);
					&:hover { background-position:center -6px;}
				}
				&.digital { background:url(/img/landing/digital.gif) no-repeat center -361px; @include linear-animation(0,0);
					&:hover { background-position:center 17px; }
				}
				&.instore { background:url(/img/landing/instore.gif) no-repeat center -266px; @include linear-animation(0,0);
					&:hover { background-position:center 4px; }
				}
				&.sidework { background:url(/img/landing/sidework.gif) no-repeat center -371px; @include linear-animation(0,0);
					&:hover { background-position:center top;}
				}
				
				//portfolio items
				&[rel] { cursor:pointer; position: relative;
					//print
					&[rel="dove"]{ background:url(/img/landing/dove.png) no-repeat center center #fff; }
					&[rel="aspca"]{ background:url(/img/landing/aspca.jpg) no-repeat center center #fff; }
					&[rel="reclaim"]{ background:url(/img/landing/reclaim.jpg) no-repeat center center #fff; }
					&[rel="soc"]{ background:url(/img/landing/soc.jpg) no-repeat center bottom #fff; }
					&[rel="grimeboss"]{ background:url(/img/landing/grimeboss.jpg) no-repeat center bottom #fff; }
					&[rel="catapult"]{ background:url(/img/landing/catapult.jpg) no-repeat center center #fff; }
					&[rel="wrigleys"]{ background:url(/img/landing/wrigleys.jpg) no-repeat center center #fff; }

					//digital
					&[rel="wrigleys2"]{ background:url(/img/landing/wrigleys2.png) no-repeat center center #efefef; }
					&[rel="snuggle"]{ background:url(/img/landing/snuggle.png) no-repeat center center #b4d3d8; }
					&[rel="aspca2"]{ background:url(/img/landing/aspca.png) no-repeat center center #dce7e9; }
					&[rel="bongrain"]{ background:url(/img/landing/bongrain.png) no-repeat center center #efefef; }
					&[rel="haiti"]{ background:url(/img/landing/haiti.jpg) no-repeat center top #efefef; }
					&[rel="twm"]{ background:url(/img/landing/twm.png) no-repeat center center #efefef; }

					//instore
					&[rel="mbar"]{ background:url(/img/landing/meijer.jpg) no-repeat center center #efefef; }
					&[rel="crystallight"]{ background:url(/img/landing/crystallight.jpg) no-repeat center center #efefef; }
					&[rel="soc2"]{ background:url(/img/landing/soc2.jpg) no-repeat center center #efefef; }
					&[rel="jwalker"]{ background:url(/img/landing/jwalker.jpg) no-repeat center center #efefef; }
					&[rel="specialk"]{ background:url(/img/landing/specialk.jpg) no-repeat center center #efefef; }
					&[rel="wrigleys3"]{ background:url(/img/landing/wrigleys3.png) no-repeat center center #fff; }
					&[rel="alay"]{ background:url(/img/landing/alay.jpg) no-repeat center center #efefef; }
					&[rel="bulleit"]{ background:url(/img/landing/bulleit.jpg) no-repeat center center #efefef; }

					//sidework
					&[rel="disney"]{ background:url(/img/landing/disney.jpg) no-repeat center center #efefef; }
					&[rel="bobbyqs"]{ background:url(/img/landing/bobbyqs.jpg) no-repeat center center #efefef; }
					&[rel="quote"]{ background:url(/img/landing/quote.jpg) no-repeat center center #efefef; }
					&[rel="kaboom"]{ background:url(/img/landing/kaboom.jpg) no-repeat center center #efefef; }
					&[rel="fakingfancy"]{ background:url(/img/landing/fakingfancy.jpg) no-repeat center center #efefef; }
					
					div { position: absolute; top: 0; left: 0; width: 100%; height: 100%; vertical-align: middle; @include linear-animation(); opacity:0; filter: alpha(opacity=0);
						p { text-align: center; color:#fff; text-transform: uppercase; font:bold 14px Helvetica,Arial; margin: 0; line-height:20px !important; padding: 35% 0px 0;
							span { margin:8px auto; width: 50px; height: 1px; background-color: #fff; display: block; }
						}
					}
					&:hover { 
						div { background-color:#61aab5; background-position:center 400px; opacity:0.9; filter: alpha(opacity=90);
							p { }
						}
					} 
				} 
			}
		}
	}
	.top { position: fixed; left: 50%; margin-left: -540px; top:80%; opacity:0; @include linear-animation(); 
		img { width: 75%; }
		&.show { opacity:0.7; filter: alpha(opacity=70);
			&:hover { opacity:1; filter: alpha(opacity=100); }
		} 
	}
	//.spacer { width: 100%; height: 100px; }
	.overlayContainer { position: fixed; top: 0; left: 0; width: 100%; height:0; background:url(/img/overlay_bg.png) repeat 0 0; overflow:hidden; z-index: 101;
		.itemOverlay {  width:930px; height:auto; @include shadow; background-color: #fff; margin:20px auto 0; position: relative; padding:10px;
			.close { position: absolute; right: -10px; top: -10px; cursor:pointer; border-radius: 50%; -webkit-border-radius:50%; width:30px; height:30px; background-color: #c8c9cb; color:#fff; text-align: center; line-height:30px !important; font-size:25px; margin: 0; @include shadow;
				&:hover { background-color:$link; }
			}
			.img { height:616px;
				img { display: block; margin: 0 auto 0px; max-height:616px; max-width:900px; width: 100%; }
			}
			.content { width: 100%; margin-top:5px; padding:15px 0; background-color: #333; color:#fff; position: relative;
				h1,p { width: 85%; margin: 0 15px; }
				h1 { font-weight:bold; font-size:16px; margin-bottom: 8px; }
				p { font-size:14px; }
				.prev, .next { background:url(/img/lr_arrows.png) no-repeat 0 0; width: 26px; height: 33px; cursor: pointer; position: absolute; top: 15px; @include linear-animation; 
					&:hover { opacity:0.6; filter: alpha(opacity=60); }
				}
				.prev { right:55px; background-position:0 -33px; }
				.next { right:15px; }
			}
			&.auto { width: 100%; padding: 0; margin-top: 0; position: absolute; top: 0; left: 0;
				.close { top: 5px; right: 5px; width: 30px; height: 30px; line-height: 30px !important; font-size:30px;  }
				.img { min-height:0; height: auto; }
				.content { position: absolute; bottom: 0; left: 0; opacity:0.95; filter: alpha(opacity=95); }
			}
		}
	}
	.footer { width: 100%; background-color:#aaccd1; border-top:4px solid #70aab2; height:30px; position: fixed; bottom: 0; left: 0;  @include opacity($test);
		ul { text-align: center; padding: 0; margin: 0;
			li { display: inline; color:#023e47; font-size:12px; line-height: 30px !important; padding: 0; margin: 0 10px;
				a { color:$link; text-decoration: none; 
					&:hover { color:$hover; }
				}
			}
		}
	}

	@media screen and (max-width: $tablet){
		.landing { width: 100%; margin: 0;
			
		}
		.nav { width:100%; 
			.header { border:0px solid red; border-bottom:5px solid #fff;
				.logo { background:url(/img/logo_main.png) no-repeat center top; background-size:contain; width: 70%; }
			}
			.menuCont { margin-right: -40%; }
		}
	}
	@media screen and (max-width: $blocks){
		.block { background-image:none; margin:0px 0 0 0; padding-bottom: 50px;
			.content { width:100%; margin-top: 1%;
				.item { width:31.33%; float: left; margin:1%; height: 0; padding-bottom: 31.33%;
					//colors
					&.lb { background-color: #dce7e9 !important; }
					&.db { background-color: #b4d3d8 !important; }
					&.lg { background-color: #f3f5f4 !important; }
					&.dg { background-color: #e1e5e6 !important; }
				}
			}
		}
		.overlayContainer {
			.itemOverlay { width: 100%; padding: 0; margin-top: 0; 
				.close { top: 5px; right: 5px; width: 30px; height: 30px; line-height: 30px !important; font-size:30px;  }
			}
		}
	}

	@media screen and (max-width: $mobile){ margin-bottom: 0;
		.landing { width: 100%; margin: 0;
			
		}
		.nav { height:auto; margin-bottom: 0;
			.header { height:auto; 
				.logo { width:40%; top: 0; background-position: 0 center; padding-bottom: 13%; height: 1px; 
					&:hover { background-position: 0 center; }
				}
			}
			.menuCont { position:static; margin-right: 0;
				&.menuFixed { position: static; }
				.menu { background-image:none; width: 100%; height:auto;
					.arrow-left, .arrow-right { display: none; }
					.ofh { height:auto; }
					ul {  @include opacity; width: 100%; margin: 0;
						li {}
					}
					&:hover { width: 100%; height:auto; }
				}
			}
		}
		.block { 
			&#home .item { background-size:60%; 
				&:hover { background-position:center center; }
			} 
			.content {
				.item { width:48%; height:0; padding-bottom: 48%;
					&.print { background:url(/img/landing/print.png) no-repeat center center; background-size:60%; }
					&.digital { background:url(/img/landing/digital.png) no-repeat center center; background-size:70%; }
					&.instore { background:url(/img/landing/instore.png) no-repeat center center; background-size:70%; }
					&.sidework { background:url(/img/landing/sidework.png) no-repeat center top; background-size:60%;
						&:hover { background-position:center top !important; }
					}
					&.mobile-hide { display: none; }
					&[rel] { background-size:cover !important; 
						div { 
							p { font-size:10px; padding:30% 0px 0; }
						}
						&:hover { background-position:inherit !important; }
					}
					
					
				}	
			}
		}
		.overlayContainer { 
			.itemOverlay {
				&.auto { 
					.content { position:relative; bottom: 0; left: 0; opacity:1; filter: alpha(opacity=1);
						h1 { font-size:12px; margin-bottom: 3px; }
						p { font-size:10px; }
					}
				}
			}
		}
		.footer { position:static; height: auto;
			ul { 
				li { display: block; margin: 0;
					a { display: block; 
						&:hover { background-color:$link; color:#aaccd1; }
					}
				}
			}
		}
	}
}